.EditableText {
	background-color: aquamarine;
	cursor: default;
	display: flex;
	gap: 0.5rem;
	align-items: center;
	justify-content: space-between;

	&:hover {
		background-color: mediumaquamarine;
	}

	input {
		width: 5rem;
	}

	button {
		justify-self: end;
	}
}
